.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}                         
.hero {
    padding: 118px 0;
    background-image:
    linear-gradient(  to right,
     rgba(47, 48, 58, 0.40),
     rgba(47, 48, 58, 0.40)
     ),
    url(../Pictures/bcg-color-hero.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    @media screen and (min-width: $desktop){
        padding: 200px 0;
    }
 }
.hero-title{
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 1.6;
    font-size: 26px;
    letter-spacing: 1.56px; 
    text-transform: uppercase; 
    max-width: 360px;
    text-align: center;
    color: $whiteColor;
 }
.hero-button {
     @include button( 10px , 24px );
     animation: size-btn 1s  ease-in-out infinite;
    
 }

@keyframes size-btn{
    0% , 100%{
       transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
}