.pr-header{
    padding: 0;
    margin: 0;
    height: 1px;
    background:$hrBcgColor;
    border: none;
   
}
 
.portfolio {
    @media screen and (max-width: 1199px){
        padding: 60px 0;
    }
 
    @media screen and (min-width:$desktop){
        padding: 94px 0;
    }
}
.pr-container {
    @media screen and (min-width:$desktop){
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
   
 
}
.portfolio-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 8px ;
    align-items: center;
    margin-bottom: 50px ;

    @media (max-width: $desktop) { 
        justify-content: center; 
      }
}


.portfolio-element {
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    border-radius: 4px;
    background-color: $buttonBcgColor;
    color:$blackTitelColor;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover , &:focus{
    background-color: $accentColor;
    color: $whiteColor;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}


    
}
    
    
.portfolio-list {
     display: flex; 
     flex-wrap: wrap;  
     row-gap: 30px;
     column-gap: 30px;
     justify-content: center;
     @media screen and (min-width:$tablet){
       justify-content: start;
    }
    
}
    
.portfolio-item {
    background-color: $whiteColor;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); 
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
      
    @media screen and (min-width:$tablet) {
        flex-basis: calc((100% - 30px) /2 ); 
    }
    @media screen and (min-width:$desktop) {
        flex-basis: calc((100% - 60px) / 3);
        max-width: 370px;
    }

    &:hover{
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }
}
.portfolio-thumb {
    position: relative;
    overflow: hidden; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    padding: 63px 24px;
    transform: translateY(101%);
    opacity: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-item:hover &,
    .portfolio-item:focus &{
    transform: translateY(0); 
    opacity: 1;
   }
}

.overlay-text {
    width: 322px;
    color: $whiteColor;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.54px;
}
.portfolio-box {
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
}
.portfolio-subtitle{
    font-weight: 700;
    line-height: 2;
    font-size: 18px;
}
.portfolio-text{
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
}
