.team {
    background-color: $buttonBcgColor;
    padding: 60px 0;
}                       

.team-title{
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-size: 28px;
    letter-spacing: 0.84px;
    color: $blackTitelColor;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-item{
    width: 450px;
    padding-bottom: 24px; 
    background-color: $whiteColor;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    &:hover{
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }
}

.team-subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    color: $blackTitelColor;
}
.team-text{
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}
.worker-list {
    @include flex-set ( flex , center , 10px);
}
.worker-link {
    display: flex;
    padding: 12px;
    border-radius: 50%;
    fill: $svgColor;
    background-color: $whiteColor;

    transition: background-color,  fill,  250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        background-color:$accentColor;
        fill: $whiteColor;
    }
}