body{
    font-family: $primaryFont;
    background-color: $whiteColor;
   
}
.container {
  max-width: 1170px; 
    padding: 0 15px;
    margin: 0 auto;
}
p {
    color: $mainTextColor;
     font-weight: 400; 
}