.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
@media screen and (max-width:$desktop){
 .work{
    display: none;
    visibility: hidden;
    overflow: hidden;
    height: 0;
 }
}