$mainTextColor: #757575;
$accentColor: #2196f3;
$whiteColor:#ffffff;
$blackTitelColor: #212121; 
$greyLightBcgColor:#2f303a;
$buttonBcgColor: #f5f4fa ;
$adressFooterColor:#ffffffb3;
$svgColor:#AFB1B8;
$svgBcgColor: #ffffff1a;
$hrBcgColor: #ECECEC;
$modalBtnSendHoverBcgColor: #188CE8;
$mobile: 480px;
$tablet:768px;
$desktop:1200px;
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;